*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android 하위 모듈 빌드 산출물
**/app/build/
**/build/
